@charset "UTF-8";

div#game, div#left, div#right, div#center, div#circleR, div#circleL, div#logo, div#topButtons, 
div#bottomButtons, div#xButton, div#yButton, div#aButton, div#bButton, div#selectButton, div#startButton,
div#left P, div#upButton, div#rightButton, div#downButton, div#leftButton,
div#middle1, div#middle2, div#circle-joystick, div#triangleUp, div#triangleRight,
div#triangleDown, div#triangleLeft, div#game img, div#playButton, div#howButton, div#infoButton, div#mainMenu,
ul, li.select, ul#um, ul#dois, ul#tres, ul#quatro, ul#cinco, div#charUm, div#charDois, div#winsUm, div#winsDois,
div#draw, ul.jogoDaVelha, li.casas, div#vez, p#xButton, p#yButton, p#aButton, p#bButton, p#start, footer,
p#back, p#next, h1#logo, div.colors, div#backgroundColors, div#color0, div#color1, div#color2, div#color3 {
    display: block;
    position: relative;
}
body{
    font-family: Arial, sans-serif ;
    overflow: hidden;
    background: url(./media/cenario.jpg);
}
section {
    width: 1000px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.623);
    margin-top: -15px;
    height: 770px;
}
/*TELA*/
div#game {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    top: 30px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.219);
}
p#start {
    color: #606060;
    top: 180px;
    text-align: center;
    left: -5px;
}

/*PARTE ESQUERDA DO CONTROLE*/
div#left {
    width: 200px;
    height: 200px;
    top: -110px;
    border-radius: 50%;
    margin: 0 auto;
    left: -125px;
    background-color: rgb(187, 186, 186);
}
div#left P {
    left: 143px;
    font-size: 7pt;
    top: 90px;
    color: rgb(187, 186, 186);
    text-shadow: 1px 1px 0px black;
}
div#circleL {
    border-top: 1px solid rgba(0, 0, 0, 0.644);
    border-left: 1px solid rgba(0, 0, 0, 0.644);
    border-bottom: 1px solid rgba(0, 0, 0, 0.400);
    border-right: 1px solid rgba(0, 0, 0, 0.315);
    width: 120px;
    height: 120px;
    top: 35px;
    left: 35px;
    border-radius: 50%;   
}
div#upButton {
    border: 4px solid black;    
    width: 20px;
    height: 35px;
    left: 46px;
    top: -28px;
    background-color: rgb(99, 98, 98);
}
div#triangleUp {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid rgb(39, 39, 39);
    left: 4px;
    top: 7px;
}
div#rightButton {
    border: 4px solid black; 
    width: 20px;
    height: 35px;
    left: 66px;
    top: -47px;
    transform: rotateZ(90deg);
    background-color: rgb(99, 98, 98);
}
div#triangleRight {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid rgb(39, 39, 39);
    left: 4px;
    top: 5px;
}
div#downButton {
    border: 4px solid black; 
    width: 20px;
    height: 35px;
    left: 46px;
    top: -69px;
    background-color:rgb(99, 98, 98);
}
div#triangleDown {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 15px solid rgb(39, 39, 39);
    left: 4px;
    top: 15px;
}
div#leftButton {
    border: 4px solid black; 
    width: 20px;
    height: 35px;
    left: 29px;
    top: -133px;
    transform: rotateZ(90deg);
    background-color: rgb(99, 98, 98);
}
div#triangleLeft {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 15px solid rgb(39, 39, 39);
    left: 4px;
    top: 16px;
}
div#middle1 {
    width: 20px;
    height: 28px;
    left: 50px;
    top: -169px;
    transform: rotateZ(90deg);
    background-color: rgb(99, 98, 98);    
}
div#middle2 {
    width: 27.5px;
    height: 20px;
    left: 46px;
    top: -192.5px;
    transform: rotateZ(90deg);
    background-color: rgb(99, 98, 98);    
}
div#circle-joystick {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 3px;
    top: -1px;
}

div#selectButton {
    border: 1px solid black;
    width: 30px;
    height: 10px;
    left : 145px;
    top: 70px;
    border-radius: 50px;
    transform: rotateZ(-35deg);
    box-shadow: 1px 1.5px 1px;    
    background-color: rgb(99, 98, 98);  
}

/*PARTE DIREITA DO CONTROLE*/
div#right {
    width: 200px;
    height: 200px;
    top: -310px;
    border-radius: 50%;
    margin: 0 auto;
    left: 125px;
    background-color: rgb(187, 186, 186);
}
div#circleR {
    left: 14px;
    top: 11px;
    background-color: rgba(71, 71, 71, 0.664);
    width: 177px;
    height: 177px;
    border-radius: 50%;
}
div#topButtons{
    border: 1px solid rgba(0, 0, 0, 0.596);
    width: 90px;
    height: 40px;
    left: -20px;
    top: 47px;
    margin: 0 auto;
    border-radius: 50px;
    transform: rotateZ(-41deg);
    background-color:rgba(187, 186, 186) ;
}
div#xButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    left: 54px;
    top: 4px;
    background-color: rgba(92, 83, 143, 0.274);
    box-shadow: -1px 2px 2px rgb(41, 40, 46);
}
div#yButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    left: 4px;
    top: -28px;
    background-color: rgba(92, 83, 143, 0.274);
    box-shadow: -1px 2px 2px rgb(41, 40, 46);
}
div#bottomButtons{
    border: 1px solid rgba(0, 0, 0, 0.596);
    width: 90px;
    height: 40px;
    left: 20px;
    top: 47px;
    margin: 0 auto;
    border-radius: 50px;
    transform: rotateZ(-41deg);
    background-color:rgba(187, 186, 186);
}
div#aButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    left: 54px;
    top: 4px;
    background-color:rgb(92, 83, 143);;
    box-shadow: -2px 1.5px 3px rgb(0, 0, 0);
}
div#bButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    left: 4px;
    top: -28px;
    background-color: rgb(92, 83, 143);
    box-shadow: 0.5px 2px 2px rgb(0, 0, 0);
}
div#startButton {
    border: 1px solid black;
    width: 30px;
    height: 10px;
    left : -45px;
    top: 10px;
    border-radius: 50px;
    transform: rotateZ(-35deg);
    box-shadow: 1px 1.5px 1px;
    background-color: rgb(99, 98, 98);  
}

/*PARTE DO MEIO DO CONTROLE*/
div#center {
    width: 256px;
    height: 170px;
    top: 60px;
    margin: 0 auto;
    background-color: rgba(187, 186, 186);
}
div#logo {
    border: 1px solid rgba(0, 0, 0, 0.596);
    width: 80px;
    height: 18px;
    left: -6px;
    margin: 0 auto;
    top: 25px;
    border-radius: 50px;
}

p#xButton{
    color:white;
    top: -90px;
    left: 108px;
    transform: rotateZ(5deg);
    width: 15px;
}
p#yButton{
    color:white;
    top: -40px;
    left: 26px;
    transform: rotateZ(5deg);
    width: 15px;
}
p#aButton{
    color:white;
    top: -115px;
    left: 148px;
    transform: rotateZ(5deg);
    width: 15px;
}
p#bButton{
    color:white;
    top: -70px;
    left: 67px;
    transform: rotateZ(5deg);
    width: 15px;
}

/*JOGO GERAL*/

div#playButton {
    border: 2px solid rgb(199, 129, 0);
    background-color: rgb(238, 255, 0);
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    margin: 0 auto;
    top: 220px;
}
div#howButton {
    border: 2px solid rgb(199, 129, 0);
    background-color: rgb(168, 167, 167);
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    margin: 0 auto;
    top: 239px;
}
div#infoButton {
    border: 2px solid rgb(199, 129, 0);
    background-color: rgb(168, 167, 167);
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    margin: 0 auto;
    top: 258px;
}

li.select {
    border: 3px solid black;
    width: 30px;
    height: 50px;
}
ul {
    width: 0px;
    left: 10px;
    list-style: none;
    text-align: center;
    line-height: 50px;
    color: white;
}
ul#um {
    top: 135px;
    left: 70px;    
}
ul#dois {
    top: -49px;
    left: 103px;
}
ul#tres {
    top: -289px;
    left: 136px;    
}
ul#quatro {
    top: -529px;
    left: 170px;
}
ul#cinco {
    top: -769px;
    left: 204px;
}
li#default{
    opacity: 0;
}

div#charUm {
    width: 40px;
    height: 40px;
    top: -850px;
    left: -10px;
    font-size: 70pt;
}
div#charDois {
    width: 40px;
    height: 40px;
    top: -892px;
    left: 270px;
    font-size: 70pt;
}
h1#logo {
    top: -140px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-size: 70pt;
}
div#backgroundColors{
    width: 200px;
    height: 20px;
    top: -132px;
    left: 70px;
    transform: rotateZ(-90deg);
}
div.colors{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
}
div#color0 {
    top: -40px;
    background: rgb(0, 0, 0);
}
div#color1 {
    top: -30px;
    background: rgb(33, 33, 33);
}
div#color2 {
    top: -20px;
    background: rgb(129, 227, 139);
}
div#color3 {
    top: -10px;
    background: rgb(133, 129, 227);
}
div#color4 {
    background: rgb(31, 55, 125);    
}
/*JOGO DA VELHA*/

div#winsUm {
    width: 100px;
    height: 30px;
    top: 14px;
    left: 25px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
div#winsDois {
    width: 370px;
    height: 30px;
    top: -17px;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: right;
}
div#draw {
    width: 100px;
    height: 30px;
    left: 165px;
    top: -50px;
    line-height: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
ul.jogoDaVelha {
    width: 300px;
    height: 93px;
    border: 1px solid black; 
    left: 28px;
    top: -20px;
    margin-bottom: -17px;
}
li.casas {
    border: 1px solid black;
    width: 112px;
    height: 93px;
    display: inline-block;
    left: -40px;
    background-color: white;
    font-size: 30pt;
    line-height: 90px;
}

li#casa2 {
    margin-right: -42px;
}
li#casa5 {
    margin-right: -42px;
}
li#casa8 {
    margin-right: -42px;
}
div#vez {
    top: -320px;
    left: 165px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
footer {
    top: 60px;
    left: 545px;
}
p#back {
    font-size: 8pt;
    text-shadow: 1px 1px 1px black;
    color: yellow;
}
p#next {
    font-size: 8pt;   
    text-shadow: 1px 1px 1px black;
    color: yellow;
}